In [1]:
#python 

#print Function 

print("Hello world")

Hello world

In [2]:
#user input
a= input("Enter the any")
print(a)

Enter the anyHello World
Hello World

In [4]:
#variable
x= 5
y= "Vikash"
print(x)
print(y)

5
Vikash

In [5]:
x= 4 # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [7]:
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

In [8]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [9]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
print(myvar,my_var,_my_var,myVar,MYVAR,myvar2)

John John John John John John

In [10]:
2myvar = "John"
my-var = "John"
my var = "John"
print(2myvar,
my-var,
my var)

SyntaxError: invalid syntax (1086522316.py, line 1)

In [11]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [12]:
x= y= z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

('Orange', 'Banana', 'Cherry')
('Orange', 'Banana', 'Cherry')
('Orange', 'Banana', 'Cherry')

In [13]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [14]:
x = "Python is awesome"
print(x)

Python is awesome

In [15]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [16]:
x = "Python"
y = "is"
z = "awesome"
print(x+y+z)

Pythonisawesome

In [23]:
x = int(input("enter any number"))
y = int(input("enter any number"))
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x // y)

enter any number5
enter any number5
10
0
25
1.0
0
1

In [21]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
x = 5
y = "John"
print(x, y)

5 John

In [2]:
#globle 
x = "awesome"
def myfunc():
    print("Python is " + x)
myfunc()

Python is awesome

In [4]:
#local
def myfunc():
    x = "awesome"
    print("Python is " + x)
myfunc()

Python is awesome

In [14]:
#inner global  
def myfund():
    global x
    x = "abe"
    print("Python is",x)
myfund()
print(type(x))

Python is abe
<class 'str'>

In [21]:
x = 1 
y =2 

print(float(x))
print(float(y))

print(type(x))
print(type(y))

1.0
2.0
<class 'int'>
<class 'int'>

In [38]:
import random
print(random.randrange(0,2))

1

In [39]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [40]:
a = "Hello, World!"
print(a[1])

e

In [42]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [43]:
a = "Hello, World!"
print(len(a))

13

In [44]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [45]:
txt = "The best things in life are free!"
print("freee" in txt)

False

In [47]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [48]:
txt = "The best things in life are free!"
if "freee" in txt:
    print("Yes, 'free' is present.")

In [56]:
txt = "The best things in life are free!"
print("expensive" in txt)

False

In [50]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [51]:
b = "Hello, World!"
print(b[2:5])

llo

In [52]:
b = "Hello, World!"
print(b[:5])

Hello

In [53]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [54]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [55]:
a="Hello, World!"
print(a.upper())

HELLO, WORLD!

In [56]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [57]:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [58]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [59]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [63]:
a = "Hello"
b = "World"
c = a + " "+ b
print(c)

Hello World

In [72]:
age = 36
txt = "My name is John, I am "+ age 
print(txt)

TypeError: can only concatenate str (not "int") to str

In [73]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [74]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [77]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [3]:
b = 200
a = 33
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is greater than a

In [4]:
print(bool("Hello"))
print(bool(15))

True
True

In [5]:
print(len("vikash "))

7

In [6]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [7]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [8]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [9]:
hislist = list(("apple", "banana", "cherry")) # note the double roundbrackets
print(thislist)

['apple', 'banana', 'cherry']

In [10]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [11]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [13]:
thislist =["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [14]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [15]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [17]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [21]:
thislist = ["apple", "banana", "cherry"]
if "apples" in thislist:
    print("Yes, 'apple' is in the fruits list")
else:
    print("apple is not present in fruits list ")

apple is not present in fruits list

In [22]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [23]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [24]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [25]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [30]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x,end="          ")

apple          banana          cherry

In [33]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i],end=" ")

apple banana cherry

In [34]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [35]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [36]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [40]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [41]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [45]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [51]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [54]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x,end=" ")

apple banana cherry

In [57]:
for x in "banana":
    print(x, end= " ")

b a n a n a

In [58]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [60]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [62]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [63]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [2]:
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result
print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [3]:
x = lambda a : a + 10
print(x(5))

15

In [4]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [6]:
def myfunc(n):
    return lambda a : a * n
mydoubler = myfunc(2)
mytripler = myfunc(3)
print(mydoubler(11))
print(mytripler(11))

22
33

In [7]:
class MyClass:
    x = 5
p1 = MyClass()
print(p1.x)

5

In [48]:
print(10 > 10)
print(10 == 5)
print(10 < 9)

False
False
False

In [8]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
p1 = Person("John", 36)
print(p1.name)
print(p1.age)

John
36

In [9]:
import datetime
x = datetime.datetime.now()
print(x)

2022-07-27 12:23:28.640551

In [4]:
import datetime
myvar2= datetime.datetime.now()
print( myvar2.year)
print( myvar2.strftime("%A"))

2022
Saturday

In [8]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
print(myvar,my_var,_my_var,myVar,MYVAR,myvar2)

John John John John John John

In [7]:
#2myvar = "John"
#my-var = "John"
#my var = "John
#print(my var)

SyntaxError: invalid syntax (751533599.py, line 3)

In [9]:
txt = "The best things in life are free!"
print("expensive" not in txt) # true s

True

In [13]:
txt = "The best things in life are free!"
if "frees" not in txt: # false / true
    print("No, 'expensive' is NOT present.") # false s
else : 
    print("Free is present") #true

No, 'expensive' is NOT present.

In [19]:
b = "Hello, World!"
print(b[2:5])

llo

In [20]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [21]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [22]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [27]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [32]:
a = "           Hello, World!      "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [39]:
a = "Bikash"
print(a.replace("B", "V"))

Vikash

In [1]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [7]:
a = 200
b = 330
if b > a:
    print("b is greater than a") # true print
else:
    print("b is not greater than a")# false exit

b is greater than a

In [8]:
print(bool("Hello"))
print(bool(15))

True
True

In [12]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [19]:
class myclass():
    def __len__(self):
        return 0
myobj = myclass()
print(bool(myobj))

False

In [53]:
bool(123==123)

True

In [11]:
bool(["apple", "cherry", "banana"])

True

In [13]:
print(bool(False)
,bool(None)
,bool(0)
,bool("")
,bool(())
,bool([])
,bool({}))

False False False False False False False

In [22]:
def myFunction() :
    return False
print(myFunction())

False

In [32]:
def myFunction() :
    return 1
if myFunction():
    print("YES!")
else:
    print("NO!")

YES!

In [44]:
x = 200.89
print(isinstance(x,float))

True

In [66]:
thislist = ["apple", "banana", "cherry"]
abc = ["banana"]
print(type(thislist))
print(thislist)
print(abc)




thislist = ["apple", "banana", "cherry"]
print(thislist[2])

<class 'list'>
['apple', 'banana', 'cherry']
['banana']
cherry

In [1]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
{} #dict /set 
() #tup
[] # list 


{name:vikash,age:30,eduction:AI PG}#dict
{vikash,30,AI PG} #set

In [4]:
thislist = ['apple','cherry', 'banana', 'cherry']
print(thislist)
# string " ", ' '

['apple', 'cherry', 'banana', 'cherry']

In [5]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [6]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [9]:
list1 = ["abc", 34, True, 40.88, "male"]
print(list1)
print(type(list1))

['abc', 34, True, 40.88, 'male']
<class 'list'>

In [10]:
thislist = list(("apple", "banana", "cherry")) # note the double roundbrackets
print(thislist)

['apple', 'banana', 'cherry']

In [13]:
thislist = ["apple", "banana", "cherry"]
print(thislist[0])#[0]  array index number start from 0

apple

In [16]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-3]) # count for last

apple

In [18]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [33]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango","kiwi"] 
print(thislist[7:])

['kiwi']

In [34]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [ ]:
thislist = 
["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1]))

In [39]:
thislist = ["apple", "banana", "cherry"]
if "apples" in thislist:
    print("Yes, 'apple' is in the fruits list")
else:
    print("no, 'apples' is in the fruits list")

no, 'apples' is in the fruits list

In [43]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = "blackcurrant","mango"
print(thislist)

['apple', 'blackcurrant', 'mango', 'cherry']

In [51]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:4] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'kiwi', 'mango']

In [60]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[2:4] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'banana', 'blackcurrant', 'watermelon', 'kiwi', 'mango']

In [61]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [62]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [65]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(0, "watermelon")
print(thislist)

['watermelon', 'apple', 'banana', 'cherry']

In [66]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [67]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [68]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [69]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [70]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(0)
print(thislist)

['banana', 'cherry']

In [71]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [72]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [73]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [74]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [7]:
thislist = ["apple", "banana", "cherry"] 
thislist[-2:-1] = ["blackcurrant", "watermelon", "mango"] 
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [2]:
thislist = ["apple", "banana", "cherry", "mango"] 
i = 0 
while i < len(thislist): 
    print(thislist[i]) 
    i = i + 1

Hello

In [8]:
thislist = ["apple", "banana", "cherry", "mango"] 
[print(x) for x in thislist]

apple
banana
cherry
mango

[None, None, None, None]

In [10]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"] 
newlist = [] 
for x in fruits:
    if "a" in x: 
        newlist.append(x) 
print(newlist)

['apple', 'banana', 'mango']

In [ ]:
print("This is a guessing game")
import random
random_number = random.randrange(1,10)
guess = int(input('What could be the number?'))
correct = False
print(random_number)
while not correct:
    if guess==random_number:
        print('I got it')
        correct = True
    elif guess>random_number:
        print("Too high")
        break
    elif guess<random_number:
        print("Too low")
        break
    else:
        print("Try something else")

This is a guessing game

:

:

In [2]:
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
newlist = [x for x in range(10000000000000) if x > 5]
print(newlist)

MemoryError:

In [23]:
fruits = ["kiwi", "banana", "apple"]
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['kiwi', 'orange', 'apple']

In [24]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"] 
thislist.sort() 
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [25]:
thislist = [100, 50, 65, 82, 23] 
thislist.sort() 
print(thislist)

[23, 50, 65, 82, 100]

In [26]:
thislist = [100, 50, 65, 82, 23] 
thislist.sort(reverse = True) 
print(thislist)

[100, 82, 65, 50, 23]

In [27]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"] 
thislist.sort(reverse = True) 
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [28]:
thislist = ["apple", "banana", "cherry"] 
mylist = thislist.copy() 
print(mylist)

['apple', 'banana', 'cherry']

In [32]:
list1 = ["a", "b", "c", '+'] 
list2 = [1, 2, 3] 
list3 = list1 + list2 
print(list3)

SyntaxError: invalid syntax (1554878733.py, line 1)

In [33]:
list1 = ["a", "b" , "c"] 
list2 = [1, 2, 3] 
for x in list2: list1.append(x) 
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [37]:
list1 = ["a", "b" , "c"] 
list2 = "apple"
list1.extend(list2) 
print(list1)

['a', 'b', 'c', 'a', 'p', 'p', 'l', 'e']

In [44]:
thistuple = ("apple", "banana", "cherry", "append", "apple", "banana")
print(len(thistuple))

6

In [47]:
thistuple = ("apple",) 
print(type(thistuple))

<class 'tuple'>

In [49]:
tuple1 = ("apple", "banana", "cherry") 
tuple2 = (1, 5, 7, 9, 3) 
tuple3 = (True, False, False)
print(tuple1,tuple2,tuple3)

('apple', 'banana', 'cherry') (1, 5, 7, 9, 3) (True, False, False)

In [51]:
tuple1 = ("abc", 34, True, 40, "male")
print(type(tuple1))

<class 'tuple'>

In [57]:
thistuple = tuple(("apple", "banana", "cherry", "banana")) # note the double round-brackets 
print(thistuple[1:3])

('banana', 'cherry')

In [59]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango") 
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [66]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango") 
if "apples" in thistuple: 
    print("Yes, this is in thistuple")
else:
    print("No, Not in this thistuple")

No, Not in this thistuple

In [67]:
x = ("apple", "banana", "cherry") 
y = list(x) 
y[1] = "kiwi" 
x = tuple(y) 
print(x)

('apple', 'kiwi', 'cherry')

In [68]:
thistuple = ("apple", "banana", "cherry") 
y = ("orange",) 
thistuple += y 
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [72]:
thistuple = ("apple", "banana", "cherry") 
y = list(thistuple) 
y.remove("apple") 
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [74]:
thistuple = ("apple", "banana", "cherry") 
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [1]:
import-module servermanager
add-windowsfeature web-server -includeallsubfeature

SyntaxError: invalid syntax (900437225.py, line 1)

In [28]:
thisset = {"apple", "banana", "cherry"} 
set1 = {"Microsoft", "Google", "Amazon"}
set2 = {200, 400, 600, 800}
b = set1.pop()
c = set2.pop()
x = thisset.pop() 
y = thisset.pop()
z = thisset.pop()
# print(z)
# print(y)
# print(x) 
thisset.update(set1, set2)
print(b)
print(c)
print(thisset, x, y, z)

Amazon
200
{800, 400, 600, 'Google', 'Microsoft'} apple banana cherry

In [16]:
thisset = {"apple", "banana", "cherry"} ############################################# need to work from here page number 90
set1 = {"Amir in the set"}
set2 = set1.pop()
thisset.clear() 
#thisset.update(set1)
print(thisset, set2)

set() Amir in the set

In [2]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

apple
banana
cherry

In [3]:
x = {"apple", "banana", "cherry"} 
y = {"google", "microsoft", "apple"} 
x.intersection_update(y) 
print(x)

{'apple'}

In [45]:
fruits = input("enter the elements ")    ####################################
thisset = ["apple", "banana", "cherry"] 

if fruits in thisset:
    print("fruits are available ", thisset)       
else:
    print("No, fruits is not available")

fruits are available  ['apple', 'banana', 'cherry']

In [24]:
def my_function(): 
    print("Hello from a function") 
my_function()
my_function()
my_function()

thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)
my_function()

Hello from a function
Hello from a function
Hello from a function
apple
banana
cherry
Hello from a function

In [25]:
def my_function(fname): 
    print(fname + " Refsnes") 
my_function("Emil") 
my_function("Tobias") 
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [29]:
def my_function(fname, lname): 
    print(fname + " " + lname) 
my_function("Emil", "Refsnes")

Emil Refsnes

In [33]:
fname = input("enter a fname ")
lname = input("enter a lname ")
def my_function(fname, lname):
    print(fname + " " + lname)
my_function(fname, lname)

Mohammad  Amir